ul{

    list-style-type: none;
}
li{

    border: 2px double rgba(45, 62, 98, 0.75);
}

.latest_post{

    border: 1px groove black;
}

.latest_post_li{

    display: inline;
    margin: 0px 25px;
}
#NotFound{
    font-style: italic;
}